extends layout.pug

block content
  h2 Welcome, #{username}!
  p Manage Larry's legacy from here.

  nav.actions
    a(href="/products") Manage products
    a(href="/orders") View orders

  form(method="POST" action="/logout")
    button.secondary(type="submit") Log out