extends layout.pug

block content
  h2 Welcome, #{username}!
  p This is the admin dashboard. Products and orders management coming soon.

  form(method="POST" action="/logout")
    button(type="submit") Log out