extends layout.pug

block content
  h2 Login

  if error
    p.error= error

  form(method="POST" action="/login")
    div
      label(for="username") Username
      input(type="text" id="username" name="username" required)
    div
      label(for="password") Password
      input(type="password" id="password" name="password" required)
    button(type="submit") Log in